*
!Dockerfile
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!src/
!src/**
!target/
target/*
!target/release/
target/release/*
!target/release/picrete-rust
!target/release/worker
!target/release/telegram_bot
!migrations/
!migrations/**
